In [9]:
import numpy as np
import pandas as pd

#valores ingresados de filas y columnas

m=int(input("Numero de filas: "))
n=int(input("Numero de columnas: "))

M=[]
for i in range(m):
    print("FILA NÚMERO ",i+1)
    m1=str(input("---Ingrese el nombre de la fila : "))
    M=M+[m1]

N=[]
nomC=[]
for i in range(n):
    print("Columna",i+1)
    nomC.append(str(input("Nombre de la columna: ")))

for j in range(n):
    N.append([])
    for i in range(m):
        print("- Columna: ",j+1," fila: ",i+1)
        f=int(input("Ingrese los valores de la columna (de arriba hacia abajo): "))
        N[j]=N[j]+[f]
print(N)

Numero de filas: 4
Numero de columnas: 3
FILA NÚMERO  1
---Ingrese el nombre de la fila : Bajo
FILA NÚMERO  2
---Ingrese el nombre de la fila : Medio
FILA NÚMERO  3
---Ingrese el nombre de la fila : Alto
FILA NÚMERO  4
---Ingrese el nombre de la fila : Muy Alto
Columna 1
Nombre de la columna: Bueno
Columna 2
Nombre de la columna: Regular
Columna 3
Nombre de la columna: Malo
- Columna:  1  fila:  1
Ingrese los valores de la columna (de arriba hacia abajo): 75
- Columna:  1  fila:  2
Ingrese los valores de la columna (de arriba hacia abajo): 60
- Columna:  1  fila:  3
Ingrese los valores de la columna (de arriba hacia abajo): 20
- Columna:  1  fila:  4
Ingrese los valores de la columna (de arriba hacia abajo): 15
- Columna:  2  fila:  1
Ingrese los valores de la columna (de arriba hacia abajo): 35
- Columna:  2  fila:  2
Ingrese los valores de la columna (de arriba hacia abajo): 70
- Columna:  2  fila:  3
Ingrese los valores de la columna (de arriba hacia abajo): 30
- Columna:  2  fila:  4
Ingrese los valores de la columna (de arriba hacia abajo): 25
- Columna:  3  fila:  1
Ingrese los valores de la columna (de arriba hacia abajo): 40
- Columna:  3  fila:  2
Ingrese los valores de la columna (de arriba hacia abajo): 50
- Columna:  3  fila:  3
Ingrese los valores de la columna (de arriba hacia abajo): 40
- Columna:  3  fila:  4
Ingrese los valores de la columna (de arriba hacia abajo): 40
[[75, 60, 20, 15], [35, 70, 30, 25], [40, 50, 40, 40]]

In [10]:
data={}
data['Estrato']=M
for i in range(len(N)):
    data[nomC[i]]=N[i]

In [11]:
df=pd.DataFrame(data)
df

    Estrato  Bueno  Regular  Malo
0      Bajo     75       35    40
1     Medio     60       70    50
2      Alto     20       30    40
3  Muy Alto     15       25    40

In [1]:
print('prbando git hub')

prbando git hub